

.virtual-tour {
    position: relative;
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 10px;
    font-family: Arial, sans-serif;
    background-color: bisque;
  }
  .virtual-tour h1{
    color: black;
  }
  
  .tour-image {
    margin: 20px 0;
    border-radius: 10px;
    width: 100%;
    background-size: cover;
    
  }
  .video-container {
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  
  
  button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  